.image {
  padding-top: 100%;
  /* height: 450px; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.box {
  outline: 2px solid #DA1333;
}

.form {
  outline: 0;
  border: 0;
  min-width: 100px;
  width: 50%;
  padding: 10px;
  text-align: center;
  margin-left: -3px;
}

.buybutton {
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.buybutton:hover,.buybutton:active,.buybutton:focus {
  background-color: #C90020;
}

.star {
  color: #DDDDDD;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  opacity: 0;
  animation: fade 2s ease-in-out;
}

.fa-star {
  font-size: 30px;
  margin: 0px 10px;
}

@keyframes fade {
  0%,
  100% {
      opacity: 0
  }
  50% {
      opacity: 1
  }
}

@media screen and (max-width:600px) {
  .image {
    padding-top: 100%;
  }

  .customH4 {
    font-size: 12px !important;
  }

  .customH6 {
    font-size: 9px !important;
  }
}